<header class="header">
    <h1>Organizador de Folios</h1>
</header>
<main class="main">
    <div class="contenedor-principal">
        <div class="contenedor-secundario contenedor-seleccionados">
            <div class="contenedor-titulos">
                <h3>Folios Seleccionados</h3>
            </div>
            <div class="folios-seleccionados">
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
                <div class="folio-seleccionado">
                    <span>#2020</span>
                    <button>x</button>
                </div>
            </div>
            <button (click)="openModal($event)" id="btnAcciones" class="btn-folios-seleccionados-acciones">Acciones con Folios
                Seleccionados</button>
        </div>
        <div class="contenedor-secundario contenedor-buscador">
            <div class="contenedor-titulos">
                <h3>Buscar Folios</h3>
            </div>
            <form class="formulario-busqueda">
                <div class="busqueda-contenedor">
                    <div class="busqueda-contenedor-busqueda">
                        <input type="search" name="" id="" placeholder="Digite el folio..." />
                    </div>
                    <div class="busqueda-contenedor-buscar">
                        <input type="submit" value="Buscar" />
                    </div>
                </div>
                <div class="busqueda-contenedor">
                    <div class="busqueda-contenedor-filtrar">
                        <button>Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="contenedor-secundario contenedor-encontrados">
            <div class="contenedor-titulos">
                <h3>Folios Encontrados</h3>
            </div>
            <div class="contenedor-tabla-encontrados">
                <table class="tabla-encontrados">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Folio</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th>Pagado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="" id=""></td>
                            <td>#2020</td>
                            <td>Simón</td>
                            <td>$34,203.50</td>
                            <td>14/30/2020</td>
                            <td>&empty;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" id=""></td>
                            <td>#2020</td>
                            <td>Simón</td>
                            <td>$34,203.50</td>
                            <td>14/30/2020</td>
                            <td>&empty;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" id=""></td>
                            <td>#2020</td>
                            <td>Simón</td>
                            <td>$34,203.50</td>
                            <td>14/30/2020</td>
                            <td>&empty;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="footer">Rafael Estrada - 2020 &copy;</footer>

<div #contenedorAcciones (click)="closeModal($event)" id="contenedorAcciones" class="contenedor-acciones">
    <div (click)="$event.stopPropagation();" id="panelAcciones" class="contenedor-acciones-panel">
        <div class="panel-acciones-opciones">
            <button>Sumar totales</button>
            <button>cambiar estado a Pagado</button>
            <button>Cambiar estado a No Pagado</button>
        </div>
        <div class="panel-acciones-contenedor">
            <div class="acciones-sumar">
                <div class="contenedor-tabla-encontrados">
                    <table class="tabla-encontrados">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Cliente</th>
                                <th>Total</th>
                                <th>Fecha</th>
                                <th>Pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                            <tr>
                                <td>#2020</td>
                                <td>Simón</td>
                                <td>$34,203.50</td>
                                <td>14/30/2020</td>
                                <td>&empty;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="acciones-sumar-total-contenedor">
                    <span>Total <span class="acciones-sumar-total">$231,203.00</span></span>
                </div>
            </div>
        </div>
    </div>
</div>